body
{
	background-color: rgb(20, 171, 48);
}

#topbox
{
	position: absolute;
background: url("background.bmp");
padding-top: 122px;
width: 100%;
height: 100%;

background-repeat: no-repeat;
}
tr.listdsc
{

font-weight:bold;
color: black;
}
td
{
	height: 25px;
	padding-top: 1px; 

}
td.item1
{
	width: 50px;
	background-color: green;
}
td.item2
{
	width: 120px;
}
td.item5
{
	width: 100px;
}
table.list
{
	text-align: center;
font-family: "Myriad Hebrew";
font-size: 20px;
	position: relative;
	background-color: rgb(198,  198, 198);
	height: 10px;
	width: 1100px;
	top: 200px;
	margin-left: 8%;
}

tr.listopt
{
color: black;

}

.mainbox
{
	position: relative;
}

td#opt1
{
	width: 50px;
}
td#opt2
{
	width: 180px;
}
td#opt3
{
	width: 180px;
}
td#opt4
{
	width: 200px;
}
td#opt5
{
	width: 80px;
}
td#opt6
{
	width: 50px;
}
td#opt7
{
	width: 130px;
}