body
{
	position: center;
	background-color: rgb(20, 171, 48);
	width: 100%;
	height: 800px;
}

div.topbox
{
	position: absolute;
background: url("background.bmp");

width: 100%;
height: 130px;

background-repeat: no-repeat;
z-index: 2;
}
a.menu_button
{
	font-family: "Myriad Hebrew";
	text-decoration: none;
color:black;
font-size: 17px;
		position: absolute;
	text-align: center;
	border-width: 1px;
	background-color: rgb(30, 181, 58);
	border-style: solid;
	border-color: rgb(20, 20, 20);
	z-index: 3;
	width: 142px;
	height: 50px;
}
a#home.menu_button
{

}
a#employees.menu_button
{
	margin-left: 130px;
}
a#stats.menu_button
{
	margin-left: 260px;
}
a#unknown.menu_button
{
	margin-left: 390px;
}
div.menu
{
	border-style: outset;
	position: absolute;
	left: 30%;
	top: 47%;
	height: 50px;
	width: 533px;
	background-color: black;
z-index: 2;
}
div#searchdiv
{
	position: absolute;
	left: 80%;
	top: 55%;
	border-style: inset;
	border-width: 3px;
	width: 13%;
}
form#src.textbox
{
}
img.homebutton
{
	position: absolute;
	top: 15%;
	left: 20px;
	z-index: 2;
}
input.input_text
{
	width: 70%;
	height: 37px;
	font-size: 16px;
font-family: "Myriad Hebrew";
border-width: 0px;
padding-left: 10px;
z-index: 3;
}
input.submitsrc
{
	position: absolute;
	background: url("submitsrc.png");
	width: 62px;
	height: 37px;
	border-width: 0px;
}
tr.listdsc
{

font-weight:bold;
color: black;
}
td
{
	height: 25px;
	padding-top: 1px; 

}
td.item1
{
	width: 50px;
	background-color: green;
}
td.item2
{
	width: 120px;
}
td.item5
{
	width: 100px;
}
table.list
{
	text-align: center;
font-family: "Myriad Hebrew";
font-size: 20px;
	background-color: rgb(198,  198, 198);
	width: 100%;
}
div.mainlist
{

	position: absolute;
	left: 20%;
	margin-top: 13%;
	width: 50%;
	height: 100%;
}
div#newlistb
{
	position: absolute;
	margin-top: 10%;
	left: 20%;
	width: 20px;
	height: 10px;
}
tr.listopt
{
color: black;

}

.mainbox
{
	position: relative;
}